.about{
	-fx-background-color: #00BBBB;
	-fx-alignment: center;		
	-fx-padding: 10;
	-fx-border-style: solid;
}

.arthur{
	-fx-background-color: #FFFF00;
	-fx-text-fill: #00DDFF;	
}

.beatrice{
	-fx-font-size: 500%;
}

.amstyle{
	-fx-background-color: #FFFF00;
	-fx-text-fill: #00DDFF;	
	-fx-font-size: 300%;
}

.pmstyle{
	-fx-background-color: #FF00FF;
	-fx-text-fill: #00FF00;
	-fx-font-size: 400%;
}
.pane{
	-fx-font-size: 250%;
	-fx-padding: 20px;
}

.grid{
	-fx-font-size: 200%;
}

.clickedLabel{	
	-fx-background-color: #00FFFF;	
}

.clickedBox{
	-fx-alignment: center;
}

