.wall
{
	-fx-background-color:#808080;
}
.empty
{
	-fx-background-color:#000000;
}

.start
{
	-fx-background-color:#0000FF;
	-fx-text-align:center;
	-fx-text-color:#FF0000;
}

.fool
{
	-fx-font-size:15px;
	
}

.title
{
	-fx-font-size:15px;
	-fx-color:#00FF00;
	
-fx-background-insets: 2.0, 5.0 5.0 5.0 5.0 ;
}


.end
{
	-fx-background-color:#0000FF;
	-fx-text-align:centre;
	-fx-color:#FF0000;
}
.test{
	-fx-background-color:#A9A9A9;
}
.clickedLabel
{
	-fx-text-align:center;
	-fx-font-size:18px;
}